---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }

    .link {
        border-bottom: 2px solid #efefef;
        display: inline-block !important;
        line-height: 20px;
        margin-right: 5px;
        padding: 5px;
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
        <div class="post-footer">
            <figure class="author-image">
                <a class="img" href="/whoami"><span class="hidden">Duan Hong</span></a>
            </figure>
            <section class="author">
                 life is a struggle
            </section>
        </div>
        <!-- disqus comment area -->
        {% if site.disqus_username %}
        <div class="comment">
            <p class="show_comments"> Wanna to say something  </p>
            <div id="disqus_thread"></div>
        </div>
        {% endif %}
    </div>

    <div class="sidenav">
        <h2>{{ page.category | capitalize }}</h2>
        <ul class="artical-list">
        {% for post in site.categories[page.category] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Friends</h2>
        <ul class="artical-list">
            <li>
                {% for friend in site.friends %}
                <a href="{{ friend.link }}" class="link">{{ friend.name }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
</div>

<script>
    var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        }
        ,BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        }
        ,iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        }
        ,Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        }
        ,Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        }
        ,any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
    };

    function dom_ready(){

        $('pre').addClass('prettyprint linenums'); //添加Google code Hight需要的class

        $('.entry a').each(function(index,element){
            var href = $(this).attr('href');
            if(href){
                if(href.indexOf('#') == 0){
                }else if ( href.indexOf('/') == 0 || href.toLowerCase().indexOf('dhong.co')>-1 ){
                }else if ($(element).has('img').length){
                }else{
                    $(this).attr('target','_blank');
                    $(this).addClass('external');
                }
            }
        });

        $('.show_comments').on('click', function(){
            $(this).hide();
            show_disqus();
        });

        function show_disqus() {
        {% if site.disqus_username %}
            var disqus_config = function () {
                this.page.url = "{{ site.url }}{{ page.url }}"; //  page's canonical URL variable
                this.page.identifier = "{{ page.id }} - {{ page.title }}"; //  page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//{{ site.disqus_username }}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        {% endif %}
        }

        $.getScript('/js/prettify/prettify.js',function(){
            prettyPrint();
        });

        var layzr = new Layzr();
    }

    basket.require({ url: '/js/jquery-1.7.1.min.js' }).then(function(){
        basket.require({ url: '/js/lazyload.js' })
        dom_ready();
    });
</script>

{% if site.disqus_username %}

<!-- disqus comment script start -->
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<!-- disqus comment script end -->

{% endif %}
